<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="form1">
      <input type="text" name="name" placeholder="请输入姓名" maxlength="15" />
      <input type="text" name="password" placeholder="请输入密码" />
      <input id="login_area" type="button" value="提交">
    </div>
    <script src="/javascripts/jquery-3.0.0.min.js"></script>
    <script src="/javascripts/ajax.js"></script>
  </body>
</html>
